<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">

        <title>New Book</title>
        <link rel="stylesheet" type="text/css" href="static/css/bookshelf.css">
        <script src = "http://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


        <script>

      //  $(document).ready(function() {
      //    $.getJSON("http://localhost:8000/books", function(dataArray) {

      //    })
      //  })

        </script>

    </head>
        <body>
            <h1> Add a new book to your Fully Booked bookshelf!</h1>
            <div class="text">
                <form id = "newbook_form" method = "post" action = "{% url 'fullybooked:add_book' %}" enctype="multipart/form-data">
                    {{ form.as_p }}
                    {% csrf_token %}
                    <input type = "submit" name = "submit" value = "Add Book" />
                </form>
            </div>

        </body>
</html>
