<!DOCTYPE html>
<html lang="en">

<head>
    <title>Fully Booked</title>
    <link rel="stylesheet" type="text/css" href="static/css/bookshelf.css">

    <script>



           async function getBooks(){
            const response = await load();
           };

           function load() {
                var books = JSON.parse(books);
                alert(books.length);
                var div = document.getElementById('book');
                for(var i=0; i< books.length; i++){
                    div.innerHTML = div.innerHTML + books[i].title;
                };
            };
    </script>


</head>



<body onload="getBooks()">
    <h1>Fully Booked</h1>
    <div>
        Your bookshelf...</br>
    </div>
    <div>
        <a href="{% url 'fullybooked:add_book' %}">Add a new book to your shelf</a></br>
    </div>

    <div class="bookshelf">
        <div class="book" id="book">
        </div>

<!--         json data with book info. Code here to loop through it?
            {% if books
                <ul>
            {% for book in books
                {{ book.title }}
            {% endfor
        </ul>
        {% else
            There are no books entered yet
        {% endif -->
    </div>

</body>

</html>