<!DOCTYPE html>
<html lang="en">

<head>
    <title>Fully Booked</title>
    <link rel="stylesheet" type="text/css" href="static/css/bookshelf.css">
    <script src = "http://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>

           // creating a variable of the json data
          // $.getJSON('books.json', function(data) {
          //      $(data).each(function(key, value){
          //          console.log(value);
          //      });
          // });

           // var jsonObject = {}
           // var request = new XMLHttpRequest();
           // request.open("GET", "fullybooked_project/fullybooked/books.json", false);
           // request.send(null)
           // if (request.status == 200){
           //  jsonObject = JSON.parse(request.responseText);
           // }


           $(document).ready(function() {

             const jsonObject= [];

             $.getJSON("books.json", function(data) {
               data.forEach(function(item, i) {
                 jsonObject.push(item.title);
                 console.log(item.title);
               })
             })

             var parentDiv = document.getElementById('bookshelf');

             for(var i = 0; i< jsonObject.length; i++){
                 var newDiv = document.createElement('div');
                 // give value
                 newDiv.id = "book" + i;
                 newDiv.class = "book";
                 parentDiv.appendChild(newDiv);
             };

           })

           // creating a new div with each element in the json array
           // var parentDiv = document.getElementById('bookshelf');
           //
           // for(var i = 0; i< jsonObject.length; i++){
           //     var newDiv = document.createElement('div');
           //     newDiv.id = "book" + index;
           //     newDiv.class = "book";
           //     parentDiv.appendChild(newDiv);
           // };


         //   $.getJSON('books.json', function(data) {
         //       $.each(data, function(key, value) {
         //       $("#bookshelf").append("<div>" + function(key, value) + "</div>");
         //       });
         //   });

         //  function load() {
         //       var booksJSON =
         //       var books = JSON.parse(booksJSON);
         //       alert(books.length);
         //       var div = document.getElementById('book');
         //       for(var i=0; i< books.length; i++){
         //           div.innerHTML = div.innerHTML + books[i].title;
         //       };
         //   };


    </script>


</head>



<body>
    <h1>Fully Booked</h1>
    <div>
        Your bookshelf...</br>
    </div>
    <div>
        <a href="{% url 'fullybooked:add_book' %}">Add a new book to your shelf</a></br>
    </div>

    <div class="bookshelf">
        <div class="book" id="book">
        </div>

<!--         json data with book info. Code here to loop through it?
            {% if books
                <ul>
            {% for book in books
                {{ book.title }}
            {% endfor
        </ul>
        {% else
            There are no books entered yet
        {% endif -->
    </div>

</body>

</html>
