<!DOCTYPE html>
<html lang="en">

<head>
    <title>Fully Booked</title>
    <link rel="stylesheet" type="text/css" href="static/css/bookshelf.css">

    <script>

         //  $.getJSON('books.json', function(data) {
         //       alert(data);
         //  });

           // creating a variable of the json data
           var jsonObject = {}
           var request = new XMLHttpRequest();
           request.open("GET", "books.json", false);
           request.send(null)
           if (request.status == 200){
            jsonObject = JSON.parse(request.responseText);
           }

           // creating a new div with each element in the json array
           var parentDiv = document.getElementById('bookshelf');
           jsonObject.points.forEach(function(item, index){
               var newDiv = document.createElement('div');
               newDiv.id = "book" + index;
               newDiv.class = "book";
               parentDiv.appendChild(newDiv);
               });


         //   $.getJSON('ajax/test.json', function(data) {
         //       $.each(data, function(key, value) {
         //       $("#bookshelf").append("<div>" + function(key, value) + "</div>");
         //       });
         //   });

         //  function load() {
         //       var booksJSON =
         //       var books = JSON.parse(booksJSON);
         //       alert(books.length);
         //       var div = document.getElementById('book');
         //       for(var i=0; i< books.length; i++){
         //           div.innerHTML = div.innerHTML + books[i].title;
         //       };
         //   };


    </script>


</head>



<body>
    <h1>Fully Booked</h1>
    <div>
        Your bookshelf...</br>
    </div>
    <div>
        <a href="{% url 'fullybooked:add_book' %}">Add a new book to your shelf</a></br>
    </div>

    <div class="bookshelf">
        <div class="book" id="book">
        </div>

<!--         json data with book info. Code here to loop through it?
            {% if books
                <ul>
            {% for book in books
                {{ book.title }}
            {% endfor
        </ul>
        {% else
            There are no books entered yet
        {% endif -->
    </div>

</body>

</html>