<!DOCTYPE html>
<html lang="en">

<head>
    <title>Fully Booked</title>
    <link rel="stylesheet" type="text/css" href="static/css/bookshelf.css">
</head>

<body>
    <h1>Testing...</h1>
    <div>
        testing the web page
    </div>

    <div class="bookshelf">
        <!-- json data with book info. Code here to loop through it? -->
        <div class="book book-green">
            <h2>Harry Potter</h2><h3>and the Chamber of Secrets</h3>
        </div>
        <div class="book book-green">
            <h2>Introducing HTML5</h2>
        </div>
        <div class="book book-green">
            <h2>CSS For Dummies</h2>
        </div>
        <div class="book book-umber">
            <h2>Actionscript:</h2>
                <h3>The Definitive Guide</h3>
        </div>
        <div class="book book-blue">
            <h2>Harry Potter</h2>
        </div>
        <div class="book book-umber">
            <h2>Introducing HTML5</h2>
        </div>
        <div class="book book-springer">
            <h2>CSS For Dummies</h2>
        </div>
        <div class="book book-blue">
            <h2>Actionscript:</h2>
                <h3>The Definitive Guide</h3>
        </div>
        <div class="book-tilted">
            <div class="book book-umber">
                <h2>Harry Potter</h2>
            </div>
        </div>
        <div class="book book-blue">
            <h2>Introducing HTML5</h2>
        </div>
        <div class="book book-green">
            <h2>CSS For Dummies</h2>
        </div>
    </div>

</body>

</html>